

{% extends "blog/base.html" %}
{% block content %}
    {% for post in posts %}
    <div class="card mb-4">
            <div class="card-body">
              <h2 class="card-title">{{ post.title }}</h2>
                Requirements: 10th: {{post.ten}}&nbsp;&nbsp;&nbsp;12th/Diploma: {{post.twelve}}&nbsp;&nbsp;&nbsp;Engg: {{post.engg}}
              <p class="card-text">{{ name }}</p>
            </div>
            <div class="card-footer text-muted">
              Posted on {{ post.date_posted|date:"F d, Y" }} by 
              <a href="#">@{{ post.author }}</a>
            </div>
          </div>
          
    {% endfor %}
{% endblock %}